@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
